:root {
    --background: hsl(0 0% 100%);
    --foreground: hsl(0 0% 0%);
    --muted: hsl(0 0% 90%);
    --muted-foreground: hsla(0, 0%, 50%);
    --border: rgba(0, 0, 0, 0.1);

    --outline: oklch(90% 0 0);
    --priority: rgb(64, 64, 64);
    --description: #7f7f7f;
    --disabled: #bfbfbf;

    --primary: rgba(0, 0, 0);
    --secondary: rgba(0, 0, 0, 0.05);

    --red: rgb(208, 22, 58);
    --yellow: rgb(253, 220, 1);
    --green: rgb(0, 139, 112);
    --cyan: rgb(0, 155, 223);
    --blue: #4c52f4;
    --magenta: rgb(216, 62, 127);
    --purple: #7962f0;

    --shadow: rgba(0, 0, 0, 0.1);
    --shadow-2xl: rgba(0, 0, 0, 0.1);

    --bounce: cubic-bezier(0.34, 1.56, 0.64, 1.00);
}
@media (prefers-color-scheme: dark) {
    :root {
        --background: hsl(0, 0%, 0%);
        --foreground: hsl(0, 0%, 100%);
        --muted: hsla(0, 0%, 100%, 0.1);
        --muted-foreground: hsl(0, 0%, 40%);
        /* --muted-foreground: hsla(0, 0%, 100%, 0.4); */
        --border: hsla(0, 0%, 100%, 0.15);

        --outline: oklch(30% 0 0);
        --priority: rgb(191, 191, 191);
        --description: rgba(255, 255, 255, 0.5);
        --disabled: rgba(255, 255, 255, 0.25);

        --primary: hsl(0, 0%, 100%);
        --secondary: hsla(0, 0%, 100%, 0.12);

        --red: rgb(217, 78, 98);
        --yellow: rgb(255, 232, 0);
        --green: rgb(0, 167, 131);
        --cyan: rgb(31, 180, 230);
        --blue: #7075f6;
        --magenta: rgb(218, 77, 143);
        --purple: #8366f4; /* final */

        --shadow: hsla(0, 0%, 100%, 0.25);
        --shadow-2xl: hsla(0, 0%, 100%, 0.25);
    }
}


.light {
    --background: hsl(0 0% 100%);
    --foreground: hsl(0 0% 0%);
    --muted: hsl(0 0% 90%);
    --muted-foreground: hsla(0, 0%, 50%);
    --border: rgba(0, 0, 0, 0.1);

    --outline: oklch(90% 0 0);
    --priority: rgb(64, 64, 64);
    --description: #7f7f7f;
    --disabled: #bfbfbf;

    --primary: rgba(0, 0, 0);
    --secondary: rgba(0, 0, 0, 0.05);

    --red: rgb(208, 22, 58);
    --yellow: rgb(253, 220, 1);
    --green: rgb(0, 139, 112);
    --cyan: rgb(0, 155, 223);
    --blue: #4c52f4;
    --magenta: rgb(216, 62, 127);
    --purple: #7962f0;

    --shadow: rgba(0, 0, 0, 0.1);
    --shadow-2xl: rgba(0, 0, 0, 0.1);

    --bounce: cubic-bezier(0.34, 1.56, 0.64, 1.00);
}
.dark {
    --background: hsl(0, 0%, 0%);
    --foreground: hsl(0, 0%, 100%);
    --muted: hsla(0, 0%, 100%, 0.1);
    --muted-foreground: hsl(0, 0%, 40%);
    /* --muted-foreground: hsla(0, 0%, 100%, 0.4); */
    --border: hsla(0, 0%, 100%, 0.15);

    --outline: oklch(30% 0 0);
    --priority: rgb(191, 191, 191);
    --description: rgba(255, 255, 255, 0.5);
    --disabled: rgba(255, 255, 255, 0.25);

    --primary: hsl(0, 0%, 100%);
    --secondary: hsla(0, 0%, 100%, 0.12);

    --red: rgb(217, 78, 98);
    --yellow: rgb(255, 232, 0);
    --green: rgb(0, 167, 131);
    --cyan: rgb(31, 180, 230);
    --blue: #7075f6;
    --magenta: rgb(218, 77, 143);
    --purple: #8366f4; /* final */

    --shadow: hsla(0, 0%, 100%, 0.25);
    --shadow-2xl: hsla(0, 0%, 100%, 0.25);
}

* {
    scrollbar-width: thin;
    scrollbar-color: var(--background);
}
body {
    background: var(--background);
    color: var(--foreground);
    font-size: 16px;
}

*::selection {
    background-color: var(--foreground);
    color: var(--background);
}

button:focus {
    outline: none;
}
input {
    appearance: none;
}
input:focus {
    outline: none;
}
textarea:focus {
    outline: none;
}
select:focus {
    outline: none;
}
option:focus {
    outline: none;
}
dialog:focus {
    outline: none;
}

select {
    appearance: base-select !important;
    -webkit-appearance: none;
}
select::picker(select) {
    appearance: base-select;

    flex-direction: column;
    gap: 8px;
    max-height: 256px;
    padding: 8px;
    margin-block: 16px;
    border-radius: 16px;

    background-color: color-mix(in oklab, var(--background) 25%, transparent);
    backdrop-filter: blur(16px);
    color: var(--foreground);
    border-color: var(--border);
    box-shadow: 0 0 16px var(--border);

    transform-origin: top;

    interpolate-size: allow-keywords;
    transition:
        all 250ms var(--bounce),
        display 250ms allow-discrete,
        overlay 250ms allow-discrete;
    scrollbar-width: none;

    opacity: 0%;
    translate: 0px -64px;
    scale: 0.75;
    filter: blur(8px);
}
select::-webkit-calendar-picker-indicator {
    content: "\ea62";
    transition: 250ms ease;
    flex-shrink: 0;
}
select::picker-icon {
    content: "\ea62";
    transition: 250ms ease;
    flex-shrink: 0;
}
option::checkmark {
    content: "\ea5e";
}
select:open::picker(select) {
    opacity: 100%;
    translate: 0px 0px;
    scale: 1;
    filter: blur(0px);
    @starting-style {
        opacity: 0%;
        translate: 0px -64px;
        scale: 0.75;
        filter: blur(8px);
    }

    height: auto;
    display: flex;
}
select:open::picker-icon {
    rotate: 180deg;
}
select:open > option {
    animation-name: appear;
    animation-duration: 250ms;
    animation-timing-function: ease-out;
    animation-delay: calc(50ms * sibling-index());
    animation-fill-mode: forwards;
    opacity: 0%;
}

@keyframes appear {
    from {
        opacity: 0%;
        transform: translate(0px, -100%);
        filter: blur(8px);
    }
    to {
        opacity: 100%;
        transform: translate(0px, 0%);
        filter: blur(0px);
    }
}

@theme {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-muted: var(--muted);
    --color-muted-foreground: var(--muted-foreground);
    --color-border: var(--border);

    --color-outline: var(--outline);
    --color-priority: var(--priority);
    --color-description: var(--description);
    --color-disabled: var(--disabled);

    --color-primary: var(--primary);
    --color-secondary: var(--secondary);

    --color-red: var(--red);
    --color-yellow: var(--yellow);
    --color-green: var(--green);
    --color-cyan: var(--cyan);
    --color-blue: var(--blue);
    --color-purple: var(--purple);

    --color-shadow: var(--shadow);
    --shadow-lg: 0 0 16px var(--border);
    --shadow-2xl: 0 0 24px var(--shadow-2xl);

    --animate-appear: appear 150ms var(--bounce) 1;
}
