:root {
    --background: hsl(0 0% 100%);
    --foreground: hsl(0 0% 0%);
    --muted: hsl(0 0% 90%);
    --muted-foreground: hsla(0, 0%, 0%, 0.6);
    --border: rgba(0, 0, 0, 0.1);

    --outline: oklch(90% 0 0);
    --priority: rgb(64, 64, 64);
    --description: #7f7f7f;
    --disabled: #bfbfbf;

    --primary: rgba(0, 0, 0);
    --secondary: rgba(0, 0, 0, 0.05);

    --red: hsl(349, 88%, 53%);
    --yellow: hsl(54, 100%, 63%);
    --green: #00bc7a;
    --cyan: hsl(190, 100%, 70%);
    --blue: #4c52f4;
    --purple: #7962f0;

    --shadow: rgba(0, 0, 0, 0.1);
    --shadow-2xl: rgba(0, 0, 0, 0.1);
}
@media (prefers-color-scheme: dark) {
    :root {
        --background: hsl(0, 0%, 0%);
        --foreground: hsl(0, 0%, 100%);
        --muted: hsla(0, 0%, 100%, 0.1);
        --muted-foreground: hsla(0, 0%, 100%, 0.4);
        --border: hsla(0, 0%, 100%, 0.15);

        --outline: oklch(30% 0 0);
        --priority: rgb(191, 191, 191);
        --description: rgba(255, 255, 255, 0.5);
        --disabled: rgba(255, 255, 255, 0.25);

        --primary: hsl(0, 0%, 100%);
        --secondary: hsla(0, 0%, 100%, 0.12);

        --red: rgb(253, 99, 102);
        --yellow: oklch(90.5% 0.182 98.111);
        --green: #33c995;
        --cyan: hsl(190, 100%, 70%);
        --blue: #7075f6;
        --purple: #8366f4;

        --shadow: hsla(0, 0%, 100%, 0.25);
        --shadow-2xl: hsla(0, 0%, 100%, 0.25);
    }
}

* {
    scrollbar-width: thin;
    scrollbar-color: var(--background);
}
body {
    background: var(--background);
    color: var(--foreground);
    font-size: 16px;
}

*::selection {
    background-color: var(--foreground);
    color: var(--background);
}

button:focus {
    outline: none;
}
input:focus {
    outline: none;
}
textarea:focus {
    outline: none;
}
select:focus {
    outline: none;
}
option:focus {
    outline: none;
}
dialog:focus {
    outline: none;
}

select {
    appearance: base-select;
}
select::picker(select) {
    appearance: base-select;

    flex-direction: column;
    gap: 8px;
    max-height: 256px;
    padding: 8px;
    margin-block: 16px;
    border-radius: 16px;

    background-color: color-mix(in oklab, var(--background) 25%, transparent);
    backdrop-filter: blur(16px);
    color: var(--foreground);
    border-color: var(--border);
    box-shadow: 0 0 16px var(--border);

    transform-origin: top;

    interpolate-size: allow-keywords;
    transition:
        all 250ms cubic-bezier(0.47, 0.4, 0.25, 1.34),
        display 250ms allow-discrete,
        overlay 250ms allow-discrete;
    scrollbar-width: none;

    opacity: 0%;
    translate: 0px -64px;
    scale: 0.75;
    filter: blur(8px);
}
select::picker-icon {
    content: "\ea62";
    transition: 250ms ease;
    flex-shrink: 0;
}
option::checkmark {
    content: "\ea5e";
}
select:open::picker(select) {
    opacity: 100%;
    translate: 0px 0px;
    scale: 1;
    filter: blur(0px);
    @starting-style {
        opacity: 0%;
        translate: 0px -64px;
        scale: 0.75;
        filter: blur(8px);
    }

    height: auto;
    display: flex;
}
select:open::picker-icon {
    rotate: 180deg;
}
select:open > option {
    animation-name: appear;
    animation-duration: 250ms;
    animation-timing-function: ease-out;
    animation-delay: calc(250ms / sibling-index());
    animation-fill-mode: forwards;
    opacity: 0%;
}

@keyframes appear {
    from {
        opacity: 0%;
        transform: translate(0px, -100%);
        filter: blur(8px);
    }
    to {
        opacity: 100%;
        transform: translate(0px, 0%);
        filter: blur(0px);
    }
}

@theme {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-muted: var(--muted);
    --color-muted-foreground: var(--muted-foreground);
    --color-border: var(--border);

    --color-outline: var(--outline);
    --color-priority: var(--priority);
    --color-description: var(--description);
    --color-disabled: var(--disabled);

    --color-primary: var(--primary);
    --color-secondary: var(--secondary);

    --color-red: var(--red);
    --color-yellow: var(--yellow);
    --color-green: var(--green);
    --color-cyan: var(--cyan);
    --color-blue: var(--blue);
    --color-purple: var(--purple);

    --color-shadow: var(--shadow);
    --shadow-lg: 0 0 16px var(--border);
    --shadow-2xl: 0 0 24px var(--shadow-2xl);

    --animate-appear: appear 150ms cubic-bezier(0.17, 0.67, 0.83, 1.25) 1;
}
